<div class="center-things">
  <div class="py-5 form-container" id='formContent'>
    <h2>Cambia tu contrase単a</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field text-start mt-3">
        <%= f.label :password, "Nueva contrase単a" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password",  class:'form-control mt-2'%>
      </div>

      <div class="field text-start mt-3">
        <%= f.label :password_confirmation, "Confirma nueva contrase単a" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control mt-2' %>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Cambiar contrase単a", class:'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
