<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bienvenido a Vacunasis, <%= @user.name %></h3>
    <p>
      Te has registrado de forma exitosa!
    </p>

    <h1>Tus datos son los siguientes:</h1> 
    <p>
        -Usuario: <%= @user.login %>.
        -Clave de registro: <%= @user.password %>
        -Clave de vacunacion: <%= @user.key %><br>
    </p> 
        
    <p>
      Para solicitar turnos para la aplicacion de vacunas entre a: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
