<header class="header-bg">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <%= link_to root_path, class: 'navbar-brand d-inline-block' do %>
        <%= image_tag("vacunAssist.png")%>
        <span class="ms-2">VacunAssist</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <%if user_patient_signed_in?%>
            <li class="nav-item">
              <%= button_to 'Cerrar sesion', destroy_user_patient_session_path, method: :delete, class:'nav-link boton'%>
            </li>
            <li class="nav-item">
              <% unless current_user_patient.appointments.find_by(vaccine: 'fiebre_amarilla') %>
                <%= link_to "Solicitar turno de fiebre amarilla", new_appointment_path, class:'nav-link' %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if current_user_patient.first_sign_in %>
                <%= link_to "Completar registro", complete_profile_user_patient_path(current_user_patient), class:'nav-link' %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Mis turnos", appointments_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Mis datos", user_patient_path(current_user_patient), class:'nav-link' %>
            </li>
          <% elsif user_vacunator_signed_in? %>
            <li class="nav-item">
              <%= button_to 'Cerrar sesion', destroy_user_patient_session_path, method: :delete, class:'nav-link boton'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Turnos de hoy', vacunator_index_appointments_path, class:'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Mis datos', user_vacunator_path(current_user_vacunator), class:'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Registrar paciente', new_partial_user_patients_path, class:'nav-link'%>
            </li>
          <% elsif user_admin_signed_in? %>
            <li class="nav-item">
              <%= button_to 'Cerrar sesion', destroy_user_admin_session_path, method: :delete, class:'nav-link boton'%>
            </li>
            <li class="nav-item">
              <%#= link_to 'Mis datos', user_admin_session_path(current_user_admin), class:'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to "Turnos pendientes", all_appointments_appointments_path(status: :pending), class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Vacunatorios", vacunatorios_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Historial de turnos", historial_de_turnos_appointments_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Consultar turnos", amount_appointments_appointments_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Vacunadores", all_user_vacunators_user_vacunators_path, class:'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Soy administrador", new_user_admin_session_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Soy vacunador", new_user_vacunator_session_path, class:'nav-link' %>
            </li>            
            <li class="nav-item">
              <%= link_to "Ingresar", new_user_patient_session_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Registrarse", new_user_patient_registration_path, class:'nav-link' %>
            </li>
            
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
