<!DOCTYPE html>
<html>
<head>
<title> 
    <meta charset="utf-9"> 
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <h1>CERTIFICADOS DE VACUNACIÓN</h1>
    <h3>VACUNASSIST</h3>   
</title>
    <meta charset="utf-8"> 
    <style>
    .row {}
      .col-md-4{
        background-image: 
      }
    </style>
</head>
<body>
    <div class="middle-card center-things">
      <div class="card mb-3" style="max-width: 1080px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%=image_tag('vacunAssist.png', class: 'img-fluid rounded-start')%>
          </div>
          <% certificate = Certificate.find(params[:id]) %>
          <% appointment = certificate.appointment %>
          <% patient = appointment.user_patient %>
          <div class="col-md-8">
            <div class="card-body">
              <h2 style="color: green;" class="card-title">Certificado</h2>
              <h3 class="card-text mt-5">Se valida ante quien corresponda que</h3>
              <%if(appointment.vaccine == 'covid')%>
                <h4 class="mt-5 card-text">El paciente <%=patient.name%> <%=patient.last_name%> registrado bajo el DNI  <%=patient.dni%> fue vacunado para la dosis <%=appointment.dose%> de <%=pretty_vaccine appointment.vaccine%> el día <%=appointment.date.strftime("%d/%m/%Y")%></h4>
              <%else%>
                <h4 class="mt-5 card-text">El paciente <%=patient.name%> <%=patient.last_name%> registrado bajo el DNI  <%=patient.dni%> fue vacunado para la dosis de <%=pretty_vaccine appointment.vaccine%> el día <%=appointment.date.strftime("%d/%m/%Y")%></h4>
              <%end%>  
            </div>
          </div>
          <h4 class="mt-5 card-text" style="margin-top:3rem;"> Observaciones: <%= certificate.observations%></h4>
        </div>
     </div>
    </div>
</body>
</html>   
