<%= render 'main/header'%>
<div class="container mb-5">
  <h2 class="my-5">Editar contraseña</h2>

  <%= form_for @user_patient, url: { action:"update_password" }, method: :patch do |form| %>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <%= form.label :password, 'Contraseña' %><br />
          <%= form.password_field :password, class:'form-control' %>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <%= form.label 'Confirmación de contraseña' %><br />
          <%= form.password_field :password_confirmation, class:'form-control' %>
        </div>
      </div>
    </div>
     <div class="field">
      <%= form.label 'Contraseña actual' %> <i>(Contraseña actual para confirmar cambios)</i><br />
      <%= form.password_field :current_password, class:'form-control' %>
    </div>
    <%=form.submit 'Guardar', class:'btn btn-success btn-block my-4' %>
  <% end %>
</div>
