<%= render 'main/header'%>
<div class="container mb-5">
  <h2 class="my-5">Editar contraseña</h2>

  <%= form_for @user_patient, url: { action:"update_password" }, method: :patch do |form| %>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <%= form.label :password, 'Contraseña' %><br />
          <%= form.password_field :password, class:'form-control', id:"myInput" %>
          <label class="mt-2"><i class="fas fa-eye-slash" style="cursor:pointer;"></i>
            <input type="checkbox" onclick="myFunction()" style="display:none;">
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <%= form.label 'Confirmación de contraseña' %><br />
          <%= form.password_field :password_confirmation, class:'form-control', id:"myInput" %>
        </div>
      </div>
    </div>
     <div class="field">
      <%= form.label 'Contraseña actual' %> <i>(Contraseña actual para confirmar cambios)</i><br />
      <%= form.password_field :current_password, class:'form-control', id:'myInputTwo' %>
      <label class="mt-2"><i class="fas fa-eye-slash" style="cursor:pointer;"></i>
        <input type="checkbox" onclick="myFunctionTwo()" style="display:none;">
      </label>
    </div>
    <%=form.submit 'Guardar', class:'btn btn-success btn-block my-4' %>
  <% end %>
</div>

<script>
  function myFunction() {
    var xArray = document.querySelectorAll("#myInput");
    console.log(xArray)
    xArray.forEach(function(x) {
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    });
  }
  function myFunctionTwo() {
  var x = document.getElementById("myInputTwo");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
