<div class="container mb-5">

  <h2 class="my-5">Editar datos personales</h2>

  <%= form_for @user_patient, method: :patch do |form| %>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <%= form.label 'Nombre', class: 'form-label' %>
            <%= form.text_field :name, class:'form-control'%>
        </div>

      </div>
      <div class="col">
        <div class="form-outline">
          <%= form.label 'Apellido', class: 'form-label' %>
          <%= form.text_field :last_name, class:'form-control'%>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <%= form.label 'DNI', class: 'form-label' %>
            <%= form.text_field :dni, class:'form-control'%>
        </div>
      </div>
       <div class="col">
        <div class="form-outline mb-4">
          <%= form.label 'Elija donde será vacunado', class: 'form-label' %>
          <%= form.select("vacunatorio_id", Vacunatorio.all.collect { |v| [ v.zone.capitalize, v.id ] }, { include_blank: 'Vacunatorio' }, class:'form-select') %>
          <% if form.object.errors[:vacunatorio].any? %>
            <div class="text-danger"> <%= form.object.errors[:vacunatorio].to_sentence %> </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- 
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <%= form.label '¿Paciente de riesgo?', class: 'form-label' %>
          <%= form.select :risk_patient, [['Si',true], ['No',false]], {}, { class:'form-select'} %>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <%= form.label 'Fecha de nacimiento', class: 'form-label' %>
          <br>
          <%= form.date_field :birth_date, data_provide: 'datepicker', class: 'datepicker' %>
        </div>
      </div>
    </div>
       -->
    <%=form.submit 'Guardar', class:'btn btn-success btn-block my-4' %>
  <% end %>
</div>
