<div class="container mt-5">
  <h2 class="mb-5">Historial de turnos y pacientes de VacunAssist</h2>
  <%= form_with url: historial_de_turnos_appointments_path, method: :get do |form| %>
    <div class="row">
      <div class="col mt-2">
        <%= form.text_field :query,
          placeholder: "Buscar por nombre, apellido y/o DNI",
          autocomplete: "off",
          class: 'form-control'
        %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <%= form.select :zone,
          Vacunatorio.all.collect { |v| [ v.zone.capitalize, v.zone ] },
          { include_blank: 'Vacunatorio' },
          class:'form-select'
          %>
      </div>
        <div class="col">
          <%= form.select :vaccine,
             Appointment.vaccines.keys.collect { |vaccine| [pretty_vaccine(vaccine), vaccine]},
            { include_blank: 'Vacuna' },
            class:'form-select'
            %>
        </div>
        <div class="col">
          <%= form.select :status,
             Appointment.statuses.slice(:pending,:confirmed,:past).keys.collect { |state| [translate_status(state), state]},
            { include_blank: 'Estado' },
            class:'form-select'
            %>
        </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <%= form.label 'Desde' %>
        <%= form.date_field :date_from,
          class:'form-select',
          min: Date.today
          %>
      </div>
      <div class="col">
        <%= form.label 'Hasta' %>
        <%= form.date_field :date_to,
          class:'form-select',
          min: Date.today
          %>
      </div>
    </div>

    <%=form.submit 'Buscar', class:'mt-3 btn btn-success'%>

  <% end %>
  <div class="mt-4"><%= link_to 'Limpiar', historial_de_turnos_appointments_path, class: 'text-success' %></div>
    <h3> Resultados de busqueda: </h3>
  <div class="d-flex mt-4">
    <div>
      <h4>Turnos atendidos: <%= appointments.past.count %></h4>
      <h4>Turnos pendientes: <%= appointments.pending.count %></h4>
      <h4>Turnos confirmados: <%= appointments.confirmed.count %></h4>
      <h4>Turnos totales: <%= appointments.all.count %></h4>
    </div>
    <div class="ms-5">
      <h4>Turnos en la municipalidad: <%= appointments.where(vacunatorio: { zone: 'municipalidad' } ).count %></h4>
      <h4>Turnos en la terminal: <%= appointments.where(vacunatorio: { zone: 'terminal' } ).count %></h4>
      <h4>Turnos en el cementerio: <%= appointments.where(vacunatorio: { zone: 'cementerio' } ).count %></h4>
    </div>
  </div>
  <table class="table table-bordered border-success card-shadow mt-5 mb-5">
    <thead>
      <tr>
        <th scope="col" class="position-relative">
          Nombre
        </th>
        <th scope="col" class="position-relative">
          Apellido      
        </th>
        <th scope="col" class="position-relative">
          DNI
        </th>
        <th scope="col" class="position-relative">
          Fecha 
        </th>
        <th scope="col" class="position-relative">
          Zona        
        </th>
        <th scope="col" class="position-relative">
         Vacuna
        </th>
        <th scope="col" class="position-relative">
          Estado
        </th>
      </tr>
    </thead>
      <tbody class="text-gray-700">
        <% appointments.each do |appointment| %>
          <tr>
            <td class="text-left py-3 px-6">
              <%= appointment.user_patient.name %>
            </td>
            <td class="text-left py-3 px-6">
              <%= appointment.user_patient.last_name %>
            </td>
            <td class="text-left py-3 px-6">
              <%= appointment.user_patient.dni %>
            </td>
            <td class="text-left py-3 px-6">
              <%= appointment_date(appointment) if appointment.date.present?%>
            </td>
            <td class="text-left py-3 px-6">
              <%= appointment.user_patient.vacunatorio.zone%>
            </td>
            <td class="text-left py-3 px-6">
              <%= pretty_vaccine(appointment.vaccine)%>
            </td>
            <td class="text-left py-3 px-6">
              <%= translate_status(appointment.status)%>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>

</div>
  
