<% user_patient = appointment.user_patient %>
<tr>
  <th scope="row"><%= "#{user_patient.name} #{user_patient.last_name}" %></th>
  <td><%= user_patient.dni %></td>
  <td><%= appointment.vaccine == 'fiebre_amarilla' ? 'Fiebre amarilla' : appointment.vaccine.capitalize %></td>
  <td><%= appointment.vaccine == 'covid' ? appointment.dose : '-' %></td>
  <td><%= translate_status appointment.status %></td>

  <% if appointment.certificate.blank? %>
    <td><%= link_to 'Completar planilla', new_certificate_path(appointment: appointment), class: 'btn btn-success'%></td>
  <% else %>
    <td>
      <%= link_to 'Editar planilla', edit_certificate_path(appointment.certificate, appointment: appointment), class: 'btn btn-dark'%>
      <%= link_to 'Descagar certificado', render_certificate_certificate_path(appointment.certificate, format: :pdf), class: 'btn btn-success'%>
    </td>
  <% end %>
</tr>