<div class="row">
  <div class="col d-flex gap-3 align-items-center">
    <%= form_with model: AppointmentFilterWithVacunatorio.new, as: :filter,
                  url: vacunator_index_appointments_path,  
                  class: "d-flex gap-3", method: :get do |f| %>
        <%= f.select("vaccine", Certificate.vaccines.keys.map { |v| [ v.humanize, v ] }, { prompt: 'Vacuna' }, class:'w-50 form-select') %>
        <%= f.text_field :query, class: "form-control w-50", placeholder: "Buscar"%>
        <%= f.submit "Buscar", class:'btn btn-success'%>
    <% end %>
    <%= link_to 'Limpiar', vacunator_index_appointments_path, class: 'text-success' %>
  </div>
</div>  
